@CHARSET "ISO-8859-1";

table {
   border-collapse: collapse;
}

table, th, td {
   border: 1px solid black;
   text-align: center;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
   background: black;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.header {
   width: 100%;
   align-items: center;
   border-bottom-style: solid;
   border-color: white;
   border-width: 2px;
   padding-top: 5px;
   padding-bottom: 5px;
}

.left-panel {
   height: 100%;
   background-image: url("images/Joe-Hands-Fade-In-Graphic-half.png");
   background-repeat: no-repeat;
   align-items: stretch;
   justify-content: center;
   flex-grow: 1;
   padding-top: 50px;
   padding-left: 400px;
}

.right-panel {
   height: 100%;
   align-items: center;
   flex-grow: 1;
   width: 700px; /*FIX */
}
   
.stat-label {
   color: white;
   font-size: 24px;
}

.large-stat {
   color: white;
   font-size: 100px;
   margin-bottom: 30px;
}

.urgent-stat {
   color: yellow;
}

.led-red {
   margin: 20px 20px 20px 20px;
   width: 12px;
   height: 12px;
   background-color: #e53302;
   border-radius: 50%;
   box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
}

.led-yellow {
   margin: 20px 20px 20px 20px;
   width: 12px;
   height: 12px;
   background-color: #A90;
   border-radius: 50%;
   box-shadow: #000 0 -1px 7px 1px, inset #660 0 -1px 9px, #DD0 0 2px 12px;
}

.led-green {
   margin: 20px 20px 20px 20px;
   width: 12px;
   height: 12px;
   background-color: #05e502;
   border-radius: 50%;
   box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
}

.historical-data-table {
   margin: 20px 0px 0px 20px;  /*top, right, bottom, left */
}

.historical-data-filter-div {
   margin: 20px 0px 0px 20px;  /*top, right, bottom, left */
}

/* 
Device = Most of the Smartphones Mobiles (Portrait)
Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 479px) {
  
   .hide-on-mobile {
      display: none;
   }
   
   .hide-on-tablet {
      display: none;
   }
}

/* 
Device = Tablets, Ipads (portrait)
Screen = B/w 768px to 1024px
*/
@media (min-width: 480px) and (max-width: 1024px) {
   
   .hide-on-tablet {
      display: none;
   }
   
	.stat-label {
	   font-size: 18px;
	}
	
	.large-stat {
	   font-size: 50px;
	}
	
	.left-panel {
	   background-image: none;
	   height: auto;
      padding-left: 50px;
   }   
   
   .right-panel {
      height: auto;
      margin-top: 50px;
   } 
}
