@CHARSET "ISO-8859-1";

body {
   color: white;
}

.main.paused {
}

.nav-username {
   font-size: 14px;
   color: #ffffff;
}

.nav-link {
   font-size: 14px;
   color: #ffffff;
   text-decoration: none; /* changed from text-decoration:underline */
}

.nav-link:hover {
   text-decoration: underline;
}

.icon {
   fill: currentColor;
}

.menu-div {
	width: 100%;
	margin-bottom: 30px;
}

.menu-item-spacer {
  flex-grow: 1;
}

.menu-item, .menu-item-spacer {
   height : 30px;
   padding-right: 10px;
   padding-left: 10px;
   color: #14a3db;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
   font-size: 15px;
   border-bottom-style: solid;
   border-color: white;
   border-width: 2px;
   padding-top: 5px;
   padding-bottom: 5px; 
   display: flex;
   flex-direction: row;
   justify-content: center;
   
   -webkit-user-select: none; /* Safari */        
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+/Edge */
   user-select: none; /* Standard */
}

.menu-item:hover {
   color: white;
   border-color: #14a3db;
   cursor: pointer;
}

.menu-item.selected {
   color: white;
   border-color: #14a3db;
}

.menu-item.selected a {
   color: white;
   text-decoration: none;
}

.menu-item a {
  color: #14a3db;
  text-decoration: none;
}

.menu-item:hover a {
   color: white;
   text-decoration: none;
}

.submenu-div {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
  z-index: 1;
  align-items: stretch;
}

.menu-item:hover ~ .submenu-div, .submenu-div:hover {
  display: flex;
}

.menu-item:hover a {
   color: white;
   text-decoration: none;
}

a {
  text-decoration: none;
}

table {
   border-collapse: collapse;
}

table, th, td {
   color: white;
   border: 1px solid white;
   text-align: center;
}

th, td {
	padding: 10px;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
   background: black;
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.header {
   width: 100%;
   align-items: center;
   border-bottom-style: solid;
   border-color: white;
   border-width: 2px;
   padding-top: 5px;
   padding-bottom: 5px;
}

.main {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;	
   align-items: flex-start;
}

.main.vertical {
   flex-direction: column;
   justify-content: flex-start;   
   align-items: center;
}

.main.splash {
   background-image: url("../images/Maddie-Hands-Fade-In-Graphic-01-1500x870.png");
   background-repeat: no-repeat;
}

/* Removed in version 1.01 at customer request */
/*
.main.summary {
   background-image: url("../images/Invisible-fade-in.png");
   background-repeat: no-repeat;
   background-position: right;
}

.main.workstation {
   background-image: url("../images/Joe-Hands-Fade-In-Graphic-half.png");
   background-repeat: no-repeat;
   background-position: left;
}
*/

.login-div {
	width: 300px;
	height: 300px;
	background-color: white;
	color: black;
}

.login-div label {
   color: black;
   font-size: 18px;
   margin-bottom: 5px;	
}

.login-div .title {
   color: black;
   font-size: 24px;  
   font-style: strong;
   margin-bottom: 15px;
}

.login-div input {
	border: 2px solid #14a3db;
	border-radius: 4px;
	height: 30px;
	width: 250px;
	padding: 5px;
	margin-bottom: 5px;    
}

.login-div button {
  background-color: #14a3db;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  margin: 5px;
}

.login-div button:hover {
   box-shadow:0px 0px 0px 2px black inset;
}

.left-panel {
   height: 100%;
   align-items: flex-start;
   justify-content: flex-start;
}

.right-panel {
   height: 100%;
   align-items: center;
   justify-content: flex-start;
   margin-left: 150px;
   margin-top: 30px;
}
   
.stat-label {
   color: white;
   font-size: 24px;
}

.large-stat {
   color: white;
   font-size: 75px;
}

.urgent-stat {
   color: yellow;
}

.time-early {
	color : #00ff00;
}

.tenths {
   font-size: 35px;
}

@keyframes warning-anim {
  from {
    transform: scale(1.0);  
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes late-anim  {
  from {
    text-shadow: 0 0 0px #fff;
    transform: scale(1.0);  
  }
  to {
    text-shadow: 0 0 30px #fff;
    transform: scale(1.1);
  }
}

#elapsed-time-div.near-cycle-time {
   color : yellow;
   animation: warning-anim 1s ease-in-out infinite alternate;
}

#elapsed-time-div.over-cycle-time {
	color: #ff0000;
   animation: late-anim 500ms ease-in-out infinite alternate;
}

#elapsed-time-div.paused {
   color: orange;
   animation: none;
}

.led-red {
   margin: 20px 20px 20px 20px;
   width: 12px;
   height: 12px;
   background-color: #e53302;
   border-radius: 50%;
   box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
}

.led-yellow {
   margin: 20px 20px 20px 20px;
   width: 12px;
   height: 12px;
   background-color: #A90;
   border-radius: 50%;
   box-shadow: #000 0 -1px 7px 1px, inset #660 0 -1px 9px, #DD0 0 2px 12px;
}

.led-green {
   margin: 20px 20px 20px 20px;
   width: 12px;
   height: 12px;
   background-color: #05e502;
   border-radius: 50%;
   box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
}

.historical-data-filter-div {
   margin: 20px 0px 0px 20px;  /*top, right, bottom, left */
}

.config-button {
  background-color: #14a3db;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  margin: 5px;	
}

.config-button:hover {
   cursor: pointer;
}
   
#shift-id-input, #am-pm-selection-input {
   background-color: #14a3db;
   border: none;
   color: white;
   padding: 10px 15px;
   font-size: 16px;
   border-radius: 4px;
   margin: 5px;   
}

#shift-id-input option, #am-pm-selection-input option {
   background-color: white;
   color: #14a3db;
}

/* 
Device = Most of the Smartphones Mobiles (Portrait)
Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 479px) {
  
   .hide-on-mobile {
      display: none;
   }
   
   .hide-on-tablet {
      display: none;
   }
}

/* 
Device = Tablets, Ipads (portrait)
Screen = B/w 768px to 1024px
*/
@media (min-width: 480px) and (max-width: 1024px) {
   
   .hide-on-tablet {
      display: none;
   }
   
	.stat-label {
	   font-size: 18px;
	}
	
	.large-stat {
	   font-size: 50px;
	}
	
	.left-panel {
	   background-image: none;
	   height: auto;
      padding-left: 50px;
   }   
   
   .right-panel {
      height: auto;
      margin-top: 50px;
   } 
}

#break-button {
  background: #25292C;
}

#pause-icon, #play-icon {
  color: rgba(155,155,155,1);
  position: absolute;
  top: 8px;
  left: 8px;
}

#break-button #play-icon {
   display: none;
}

#break-button #pause-icon {
   display: block;
}

#break-button.paused #play-icon {
   display: block;
}

#break-button.paused #pause-icon {
   display: none;
}

#first-entry-div {
	color: white;
   font-size: 18px;
   margin-top: 10px;
}

tr.total td, tr.total th {
	color: #14a3db;
   font-weight: bold; 
}