@CHARSET "ISO-8859-1";
.main.summary {
  flex-wrap: wrap;
}

.station-summary-div {
  color: white;
  border: 1px solid white;
  width: 300px;
  margin: 20px 20px 0px 0px; /*top, right, bottom, left */
}

.station-summary-div.near-cycle-time {
  /*background-color: rgba(255, 255, 0, 0.25);*/
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(255, 255, 0, 0.3));
}

.station-summary-div.over-cycle-time {
  /*background-color: rgba(255, 0, 0, 0.25);*/
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(255, 0, 0, 0.3));
}

.station-summary-div.paused {
  /*background-color: rgba(0, 0, 255, 0.25);*/
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(20, 163, 219, 0.3));
}

.station-label {
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
}

.stat-label {
  color: #14a3db;
  font-size: 14px;
}

.stat-units {
  color: white;
  font-size: 8px;
}

.medium-stat {
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
}

.urgent-stat {
  color: yellow;
}

/* ************************************************************************** */
/* ************************************************************************** */
/* Screen widths */
@media (max-width: 1919px) {
  .station-summary-div {
    width: 275px;
    margin: 15px 15px 0px 0px; /*top, right, bottom, left */
    border: 2px solid white;
  }
  .station-label {
    font-size: 2em;
    margin-bottom: 10px;
  }
  .stat-label {
    font-size: 0.75em;
  }
  .stat-units {
    font-size: 0.75em;
  }
  .large-stat {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  .medium-stat {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
}
@media (min-width: 1920px) {
  .station-summary-div {
    width: 420px;
    margin: 20px 20px 0px 0px; /*top, right, bottom, left */
    border: 2px solid white;
  }
  .station-label {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  .stat-label {
    font-size: 1.25em;
  }
  .stat-units {
    font-size: 0.75em;
  }
  .large-stat {
    font-size: 3em;
    margin-bottom: 10px;
  }
  .medium-stat {
    font-size: 2.25em;
    margin-bottom: 10px;
  }
}
@media (min-width: 2560px) {
  .header-image {
    width: 1000px;
  }
  .header {
    border-width: 0.5em;
  }
  .header-input {
    font-size: 7em;
  }
  .station-summary-div {
    width: 850px;
    margin: 35px 35px 0px 0px; /*top, right, bottom, left */
    border: 2px solid white;
    padding: 15px;
  }
  .station-label {
    font-size: 7em;
    margin-bottom: 10px;
  }
  .stat-label {
    font-size: 3em;
  }
  .stat-units {
    font-size: 0.75em;
  }
  .large-stat {
    font-size: 7em;
    margin-bottom: 10px;
  }
  .medium-stat {
    font-size: 5em;
    margin-bottom: 10px;
  }
}
html.display-small .station-summary-div {
  width: 275px;
  margin: 15px 15px 0px 0px; /*top, right, bottom, left */
  border: 2px solid white;
}
html.display-small .station-label {
  font-size: 2em;
  margin-bottom: 10px;
}
html.display-small .stat-label {
  font-size: 0.75em;
}
html.display-small .stat-units {
  font-size: 0.75em;
}
html.display-small .large-stat {
  font-size: 2.5em;
  margin-bottom: 10px;
}
html.display-small .medium-stat {
  font-size: 1.5em;
  margin-bottom: 10px;
}

html.display-medium .station-summary-div {
  width: 420px;
  margin: 20px 20px 0px 0px; /*top, right, bottom, left */
  border: 2px solid white;
}
html.display-medium .station-label {
  font-size: 2.5em;
  margin-bottom: 10px;
}
html.display-medium .stat-label {
  font-size: 1.25em;
}
html.display-medium .stat-units {
  font-size: 0.75em;
}
html.display-medium .large-stat {
  font-size: 3em;
  margin-bottom: 10px;
}
html.display-medium .medium-stat {
  font-size: 2.25em;
  margin-bottom: 10px;
}

html.display-large .header-image {
  width: 1000px;
}
html.display-large .header {
  border-width: 0.5em;
}
html.display-large .header-input {
  font-size: 7em;
}
html.display-large .station-summary-div {
  width: 850px;
  margin: 35px 35px 0px 0px; /*top, right, bottom, left */
  border: 2px solid white;
  padding: 15px;
}
html.display-large .station-label {
  font-size: 7em;
  margin-bottom: 10px;
}
html.display-large .stat-label {
  font-size: 3em;
}
html.display-large .stat-units {
  font-size: 0.75em;
}
html.display-large .large-stat {
  font-size: 7em;
  margin-bottom: 10px;
}
html.display-large .medium-stat {
  font-size: 5em;
  margin-bottom: 10px;
}

/*# sourceMappingURL=workstationSummary.css.map */
